.c-sticky-position
    .position-sticky, .position-fixed, .position-static
        width: 100%
        z-index: 4
        top: 0px
        transition: top .3s

    .z-index
        @each $i in 1 2 3 4 5 526
            &-#{$i}
                &.position-sticky, &.position-fixed, &.position-static
                    z-index: $i


    .position-sticky
        position: sticky

    .position-fixed
        transform: translateZ(0)
        position: fixed

    .position-static
        position: relative
        z-index: 3
