.reneco-components-droppable-item {
    display: block;
    position: relative;
    overflow: hidden;
    // outline: 1px blue solid;
    &-before, &-after{
        top: 0;
        left: 0;
        position: absolute;
        // background-color: red;
        transform-origin: 0 100%;
        cursor: pointer;
        opacity: 0.3;
    }
    &-after {
        top: 100%;
        // background-color: blue;
        transform-origin: 0 0;
    }

    &-box {
        display: block;
        // transition: all .3s;
        // outline: 1px red solid;
    }
    &-inline > &-box, &-inline > &-box > &-children {
        display: inline-block;
    }
    &-hdd {
        // background-color: indigo;
        // opacity: 0;
        // width: 0;
        // height: 0;
        // overflow: hidden;
        display: none !important;
        // transform: translateX(-9999px);
        // position: absolute;
    }
    &-inline {
        display: inline-block;
    }
}

