.reneco-components-droppable-placeholder {
    display: block;
    &-item, &-empty {
        display: block;
        margin: 0;
        padding: 0;
        transition: width height 1s;
    }
    &-empty {
        background-color: transparent;
    }
    &-inline {
        display: inline-block;
    }
    &-inline > &-item, &-inline > &-empty {
        display: inline-block;
    }
}