ul.router-menu {
    background: yellow;
    li {
        display: inline-block;
        padding: 0;
        a {
            text-decoration: none;
            display: inline-block;
            padding: 5px 10px;
            background-color: green;
            color: #fff;
            transition: background-color .3s;
            &:hover {
                background-color: red;
            }
        }
    }
}