.poster
    &__loader
        position: relative
        width: 100%
        padding-bottom: 0%
        height: 0

        &--inner
            position: absolute
            width: 100%
            height: 100%
            left: 0
            outline: 1px solid transparent
            outline-offset: -1px
            background-color: #fff
            background-image: url(./images/ajax-loader.gif)
            background-position: 50% 50%
            background-repeat: no-repeat
            box-sizing: border-box
    img
        display: block
        width: 100%
    b
        margin-top: 5px
        font-size: 12px
        background-color: #000000
        color: #fff
        display: inline-block
        text-align: center
        padding: 0 10px 0 5px
        border-top-right-radius: 6px
        border-bottom-right-radius: 6px
    &__description
        &s
            font-size: 12px
            font-weight: bold
            // line-height: 14px
            color: #000000
            margin-top: 5px
        &-1
            float: left
            width: 50%
        &-2
            padding-left: 50%
            text-align: right
