.ui.slider {
    position: relative;
    user-select: none;
    height: 30px;
    background: red;
    &-handle {
        user-select: none;
        position: absolute;
        width: 30px;
        height: 30px;
        background: yellow;
        cursor: pointer;
        transition: .1 left;
        &.grab {
            transition: none;
        }
    }
}