.reneco-components-scheme-block {
    &-row {
        &-anchor {
            cursor: pointer;
        }
    }
    &-handle {
        fill: transparent;
        // opacity: .4;
        cursor: pointer;
    }
}