.reneco-components-scheme-link {
    fill: none;
    user-select: none;
    &-handle {
        fill: transparent;
        stroke: transparent;
        cursor: pointer;
        user-select: none;
    }
}