.reneco-components-scheme-row {
    // &-line {
    //     stroke: @primary-4;
    // }
    &-anchor {
        // fill: @primary-4;
        cursor: pointer;
    }
    &-text {
    //     fill: @text-color;
    //     font-size: @font-size-base;
    //     font-family: @font-family;
        user-select: none;
    }
}