
.reneco-components-scheme {
    width: 100%;
    height: 100%;
    position: relative;
    &-buttons {
        position: absolute;
        top: 1em;
        right: 1em;
        &-btn {
            margin-left: .3em;
        }
    }
    &-svg {
        user-select: none;
        &-drag {
            &-active {
                cursor: grabbing;
            }
        }
    }
}