@import 'figure'

.trix-editor
    trix-editor
        max-height: 500px
        overflow-y: auto
        padding-right: 20px
        figure.attachment-preview
            +figure()
            position: relative
            clear: both
            img
                +figure-img()