@import 'variables'
@import 'figure'
$margin-top: 30px

.trix-text
    box-sizing: border-box
    font-size: 16px
    color: $text-8
    font-family: $h-Light
    text-align: justify
    // margin-top: $margin-top
    line-height: 20px
    vertical-align: top
    h1
        display: block
        font-size: 18px
        line-height: 22px
    b, strong
        font-weight: bold
    em, i
        font-style: italic
    del, strike, s
        text-decoration: line-through
    a
        color: $link-2
        &:hover
            color: $link-1
    ul, ol
        margin: 15px 0
        list-style: disc
        li
            margin-left: 30px
        ul, ol
            margin: 3px
        ul
            list-style: circle
    ol
        list-style: decimal
        ol
            list-style: lower-latin
    pre
        font-family: monospace
        margin: 20px 0
        padding: 10px
        white-space: pre-wrap
        background-color: $nav-bg
        display: block
        line-height: 1.42857143
        word-break: break-all
        word-wrap: break-word
        border: 1px solid $border-bg-1
        border-radius: 4px
    blockquote
        display: block
        margin: 20px 0
        padding: 0 0 0 10px
        border-left: 5px solid $border-bg-1
    p, >div
        margin-bottom: 6px
        &:last-child
            margin-bottom: 0px
    figure
        +figure()
        img
            +figure-img()
        figcaption.caption
            +figure-caption()
            &.caption-edited
                display: block
