.fab-slideshow-poster
    width: 100%
    &-sizer
        margin: 0 auto
    &-title
        color: #fff
        text-align: center
        padding: 5px 0
        font-size: 18px
        width: 100%
        white-space: normal
        line-height: 20px
@media only screen and (max-width: 768px)
    .fab-slideshow-poster
        &-title
            font-size: 14px
            line-height: 16px
@media only screen and (max-width: 375px)
    .fab-slideshow-poster
        &-title
            font-size: 12px
            line-height: 14px
