.modal-open
    overflow: hidden

.c-popup
    &__overlay
        background-color: rgb(48,48,48)
        bottom: 0
        display: block
        position: fixed
        top: 0
        right: 0
        left: 0
        filter: alpha(opacity=63)
        opacity: .63
        z-index: 1040

    &__wrapper
        overflow-x: hidden
        overflow-y: auto
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1050
        display: block
        outline: 0

    &__popup
        transform: translate(0, 0)
        position: relative
        width: auto
        max-width: 520px
        margin: 40px auto
        padding: 30px
        background: #fff
        border-radius: 10px
        padding-top: 50px
        padding-bottom: 40px
    &__wide
        max-width: 90%

    &__ic-close
        right: 20px
        cursor: pointer
        top: 17px
        width: 16px
        height: 16px
        position: absolute
        background: url("./images/close-icon.svg") no-repeat
        z-index: 500

@media only screen and (max-width: 560px)
    .c-popup
        &__popup
            max-width: 70%
